<form>
    <h3>Enter your favorite quote</h3>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="description">Quote</label>
        <textarea id="quote" rows="4" required></textarea>
    </div>
    <div class="form-control">
        <label for="name">Author</label>
        <input type="text" class="form-control" id="author" required>
    </div>
    <button type="submit" class="btn btn-sm btn-success">Submit</button>
</form>
